body {
  background: #eee;
  font-family: sans-serif;
  border: 1px solid red;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
  border: 1px solid red;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid red;
}

.content {
  background: #e3f4ff;
  padding: 10px 5px;
  margin-bottom: 5px;
  border: 1px solid red;
}

.button-container {
  background: #e3f4ff;
  padding: 5px auto;
  text-align: center;
  border: 1px solid red;
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
  border: 1px solid red;
}